@font-face {
    font-family: gothampro-Bold;
    src: url('../fonts/gothampro_bold.ttf') format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: gothampro-Light;
    src: url('../fonts/gothampro_light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300 !important;
}
